.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;


  @media only screen and (max-width: 1500px) {
    padding-top: 100px;
  }

  &__text1 {
    // height: 86px;
    // font-family: Helvetica;
    font-size: 2.3rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--primary-color);
    margin-bottom: 0;
  }

  &__text2 {
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    // line-height: 1.33;
    letter-spacing: normal;
    color: var(--secondary-color);
  }

  &__CTA {
    position: relative;
    // display: inline-flex;
  }
  &__input {
    // width: 100%;
    padding-left: 25px;
    width: 525px;
    height: 75px;
    border-radius: 37.5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    // text-align: center;
  }

  &__btn {
    position: absolute;
    // margin-right: 40px;
    // top: 0;
    // right: 4px;
    // left: ;
    z-index: 100;
    width: 81px;
    height: 75px;
    border-radius: 37.5px;
    background-color: var(--primary-color);
  }

  &__parkingnearme {
    width: 176px;
    // height: 22px;
    // font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--carrot-color);
    text-decoration: underline;
  }

}




// body {
//   margin: 0;
//   padding: 0;
// }
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
/*   visibility: hidden; */
  display: none;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 20px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
