.LoginSignup {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // background-color: green;

  &__Panel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.login {
  display: flex;
  justify-content: center;

  &__modal {
    width: 525px;
    // height: 850px;
    // border-radius: 50px;
    box-shadow: -5px 5px 31px -2px rgba(189, 189, 189, 0.5);
    background-color: #ffffff;
    margin-top: 4rem;
  }

  &__container {
    margin: 35px 50px;
    // base font size: 14px. Statically add due to no ant design style
    font-size: 14px;
  }

  &__form {
    margin: 0 50px;
  }

  &__twocolumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
  &__form-label {
    font-size: inherit;
    color: var(--secondary-color);
  }

  &__form-input {
    width: 100%;
    height: 40px;
    margin-top: 0.25rem;
    border-radius: 3px;
    border: solid 1px var(--third-color);
    background-color: #ffffff;
  }

  &__form-input:focus {
    outline: 2px solid var(--carrot-color);
  }

  &__header {
    // margin-left: 60px;
    // margin-right: 60px;
    // width: 117px;
  }

  &__headerText {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--almost-black);
  }

  &__socialmedia {
    text-align: center;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // width: 100%;
  }

  &__googleBtn,
  &__facebookBtn {
    width: 12rem;
  }

  &__horizontalruler {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line {
    width: 100%;
    border: solid 2px var(--third-color);
  }

  &__line-text {
    padding: 0 10px;
  }

  &__checkbox-container {
    display: flex;
    justify-content: space-between;
  }

  &__checkbox-checkbox {
    // width: 22px;
    // height: 22px;
    border-radius: 5px;
    border: solid 2px #979797;
  }

  &__checkbox-label {
    font-size: inherit;
    margin-left: 0.5rem;
    color: var(--third-color);
  }

  &__checkbox-password {
    font-size: inherit;
    text-align: right;
    color: var(--carrot-color);
  }

  // &__disclosure {
  //   text-align: center;
  // }

  &__disclosure-text {
    font-size: inherit;
    text-align: center;
    color: var(--third-color);
  }

  &__login-btn {
    width: 125px;
    height: 50px;
    border-radius: 28.5px;
    background-color: var(--almost-black);
    // text-align: center;
  }

  &__login-text {
    line-height: 50px;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  &__new-text {
    font-size: 1.25rem;
    color: var(--third-color);
  }
}
