.nav {
  display: flex;
  // z-index: 9999;
  width: 100%;
  // height: 125px;
  align-items: center;
  background-color: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &__navHomePagePosition {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__item {
    text-decoration: none;
  }

  &__item--right {
    margin-right: 100px;
  }

  &__HomePageLogoColor {
    color: var(--white-color);
    &:hover {
      color: var(--primary-color);
    }
  }

  &__MapPageLogoColor {
    color: var(--primary-color);
    &:hover {
      color: var(--primary-color);
    }
  }

  &__logo {
    margin-right: auto;
    margin-left: 100px;
    height: 47px;
    font-size: 2.5rem;
    text-align: center;
  }

  &__login:hover,
  &__signup:hover {
    color: var(--primary-color);
  }

  &__login {
    color: var(--carrot-color);
    height: 31px;
    // font-family: Helvetica;
    font-size: 1.25rem;
  }

  &__signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    border-radius: 28.5px;
    background-color: var(--carrot-color);
    color: white;
    // font-family: Helvetica;
    font-size: 1.25rem;
  }
}
