.BookingConfirmation {
  &__Container {
    background-color: orange;
    // width: 1000px;
    // margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 2px;
    box-shadow: 0 4px 14px 0 rgba(191, 191, 191, 0.5);
    grid-column-gap: 1rem;
  }

  &__Summary {
    padding: 50px;
  }
}
