.PaymentInformation {
  &__Container {
    width: 1000px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1rem;
    font-color: orange;
    // background-color: orange;
  }

  &__Form {
    // background-color: red;
    padding: 4rem;
    border-radius: 2px;
    height: 600px;
    box-shadow: 0 4px 14px 0 rgba(191, 191, 191, 0.5);

  }

  &__FormDriverColumns {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1rem;
    
  }

  &__FormDriverInput {
    width: 100%;
  }

  &__FormDriverLabel {
    width: 100%;
  }
  
  // &__FormDriverCityInput, &__FormDriverCardNum {
  //   width: 100%;
  // }
}

