.Filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 0 25px;
  font-size: 1rem;

  &__hourlyOnClick {
    margin-right: 1rem;
    // &:hover {
    //   color: orange;
    // }
  }

  &__monthlyOnClick {
    margin-right: 1rem;
    // &:hover {
    //   color: orange;
    // }
  }
}
