.Filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 0 25px;
  font-size: 1rem;

  &__HourlyOnClick {
    margin-right: 1rem;
    // &:hover {
    //   color: orange;
    // }
  }

  &__MonthlyOnClick {
    margin-right: 1rem;
    // &:hover {
    //   color: orange;
    // }
  }

  &__Hourly {
    display: inherit;
    margin: 2rem;
  }

  &__HourlyTo {
    margin-left: 3rem;
  }

  &__HourlySearchBtn {
    // display: inherit;
    // margin-left: 3rem;
    width: 81px;
    height: 75px;
    border-radius: 37.5px;
    color: white;
    background-color: #000000;
  }
}
