.ListingCard {
  // display: block;
  // border-bottom: 1px solid #eee;
  padding: 1rem 1rem 0 1rem;
  // text-decoration: none;
  margin-bottom: 1.5rem;
  border-radius: 2px;
  border: solid 1px var(--light-grey);
  &:hover {
    box-shadow: 0 3px 10px 1px rgba(199, 199, 199, 0.5);
  }

  display: grid;
  grid-template-columns: 40% 60%;
  // width: 200px;

  &__AddressParkingType {
    display: flex;
    justify-content: space-between;
  }

  &__Address {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--almost-black);
  }

  // &__ImgFigure {
  // LARGE IMAGE WILL SCALE BY ITSELF & FILL
  // UP CONTAINER BASED ON IMG'S WIDTH 100%
  // width: 500px;
  // height: 500px;
  // }

  &__Img {
    // LARGE IMAGE WILL SCALE BY ITSELF & FILL
    // UP CONTAINER BASED ON IMG'S WIDTH 100%
    // width: 500px;
    // height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 1rem;
  }

  &__BookingBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 28.5px;
    border: solid 1px var(--very-light-pink);
    background-color: var(--almost-black);
    color: var(--white-color);
    &:hover {
      background-color: var(--carrot-color);
    }
  }

  &__BookingDetailsRate {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__BookingDetails {
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  &__Details {
    margin-left: 1rem;
    text-decoration: underline;
    color: var(--carrot-color);
    &:hover {
      color: var(--almost-black);
    }
  }

  &__Overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__ListingPrice {
    font-size: 1.25rem;
    color: var(--almost-black);
  }

  &__MilesAway {
    color: var(--third-color);
  }

  &__ParkingTypeBtn {
    padding: 4px 15px 1px 15px;
    border-radius: 2px;
  }

  &__ParkingTypeLot {
    border: 1px solid purple;
    color: purple;
  }

  &__ParkingTypeGarage {
    border: 1px solid var(--watermelon-color);
    color: var(--watermelon-color);
  }

  &__ParkingTypeValet {
    border: 1px solid green;
    color: green;
  }

  &__ParkingTypeResident {
    border: 1px solid orange;
    color: orange;
  }
}
