.Map {
  &__content {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
  }

  &__sidebar {
    // position: absolute;
    // width: 33.3333%;
    height: 100%;
    // top: 0;
    // left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  &__canvas {
    // position: absolute;
    // left: 33.3333%;
    // width: 66.6666%;
    // top: 0;
    // bottom: 0;
  }

  &__header {
    background: #fff;
    border-bottom: 1px solid #eee;
    min-height: 60px;
    line-height: 60px;
    padding: 0 10px;
    background-color: #778aab;
    color: #fff;
  }

  &__headerText {
    margin: 0;
  }

  &__listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
    
  }

  &__listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }

  &__listings .item:last-child {
    border-bottom: none;
  }

  &__listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }

  &__listings .item .title small {
    font-weight: 400;
  }

  &__listings .item.active .title,
  &__listings .item .title:hover {
    color: #8cc63f;
  }

  &__listings .item.active {
    background-color: #f8f8f8;
  }

  
}

// h1 {
//   font-size: 22px;
//   margin: 0;
//   font-weight: 400;
//   line-height: 20px;
//   padding: 20px 2px;
// }

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

// .marker {
//   border: none;
//   cursor: pointer;
//   height: 56px;
//   width: 56px;
//   background-image: url(./images/map-marker-alt-solid.svg);
//   // background-image: url(./images/marker.png);
//   background-color: rgba(0, 0, 0, 0);
//   z-index: 1;
//   color: red;
//     display: flex;
//   justify-content: center;
//   align-items: center;
// }

.marker__location {
  // width: 0;
  // height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url(../images/carrot-marker.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 56px;
  // color: #fff;
  // background: #c50;
  // border: solid 2px;
  // border-radius: 0 70% 70%;
  // box-shadow: 0 0 2px #000;
  cursor: pointer;
  // transform-origin: 0 0;
  // transform: rotateZ(-135deg);
}

.marker__listing {
  // width: 0;
  // height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: url(../images/easter-egg-marker.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 52px;
  color: #fff;
  // background: #c50;
  // border: solid 2px;
  // border-radius: 0 70% 70%;
  // box-shadow: 0 0 2px #000;
  cursor: pointer;
  // transform-origin: 0 0;
  // transform: rotateZ(-135deg);
}

.clearfix {
  display: block;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}
.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}
.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1000 !important;
  padding: 6px;
  font-weight: bold;
}
