:root {
  --carrot-color: #fe9625;
  --primary-color: #000000;
  --secondary-color: #898989;
  --third-color: #979797;
  --white-color: #ffffff;
  --almost-black: #252525;
  --main-font: Helvetica;
}

body {
  font-family: var(--main-font);
  width: 100%;
  color: var(-primary-color)
}


.center {
  display: flex;
  justify-content: center;
}

